In [17]:
import pandas as pd
df = pd.read_csv( 'worldcities.csv' )

In [18]:
df = df[['city', 'lat', 'lng', 'iso3']]

In [19]:
df

                   city      lat       lng iso3
0                 Tokyo  35.6897  139.6922  JPN
1               Jakarta  -6.1750  106.8275  IDN
2                 Delhi  28.6100   77.2300  IND
3             Guangzhou  23.1300  113.2600  CHN
4                Mumbai  19.0761   72.8775  IND
...                 ...      ...       ...  ...
47863        Munha-dong  39.3813  127.2517  PRK
47864            Sil-li  39.4880  125.4640  PRK
47865              Muan  34.9897  126.4714  KOR
47866         Hongseong  36.6009  126.6650  KOR
47867  Charlotte Amalie  18.3420  -64.9331  VIR

[47868 rows x 4 columns]

In [20]:
df['lat'] = df['lat'].astype(float)
df['lng'] = df['lng'].astype(float)

In [22]:
df.to_csv('cities.csv', index=False)